<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= headerText %> - TurboWarp Extension Documentation</title>
    <link rel="canonical" href="https://extensions.turbowarp.org/<%= slug %>">
    <style>
      :root {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color-scheme: light dark;
        font-size: 16px;
      }
      @media (prefers-color-scheme: dark) {
        :root {
          color: #eee;
          background: #131313;
        }
      }

      @media (prefers-color-scheme: dark) {
        a {
          color: #56b2ff;
        }
        a:visited {
          color: #f192ff;
        }
        a:active {
          color: red;
        }
      }

      body {
        margin: 0;
        padding: 0;
        line-height: 1.3;
      }

      nav {
        background-color: #ff4c4c;
        color: white;
        font-weight: bold;
        font-size: 1.1em;
      }
      nav > div {
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-between;
      }
      nav a {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 0.25rem 0.5rem 0;
        align-items: center;
        text-decoration: none;
        color: inherit !important;
      }
      nav a:hover {
        text-decoration: underline;
      }
      nav img {
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
      }
      @media (prefers-color-scheme: dark) {
        nav {
          background-color: #333;
        }
      }

      noscript {
        font-weight: bold;
      }

      .container {
        max-width: 600px;
        margin: auto;
        padding: 0 0.25rem;
      }
      h1 {
        font-size: 2.25rem;
      }
      h1, h2, h3, h4, h5, h6 {
        border-bottom: 1px solid #ccc;
      }
      hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 1rem 0;
      }
      @media (prefers-color-scheme: dark) {
        hr, h1, h2, h3, h4, h5, h6 {
          border-color: #444;
        }
      }

      .view-in-browser {
        display: none;
      }
      .is-desktop .view-in-browser {
        display: flex;
      }
      .is-desktop nav > div, .is-desktop .container {
        /* Desktop app shows this page in a window, not a browser tab, so don't need to */
        /* restrict the width of the content for readability. */
        max-width: 100%;
      }

      code {
        background-color: #eee;
        border-radius: 4px;
        padding: 0 2px;
      }
      pre {
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
        overflow-x: auto;
      }
      @media (prefers-color-scheme: dark) {
        code, pre {
          background-color: #223;
          border-color: #334;
        }
      }

      .render-scratchblocks {
        width: 100%;
        overflow-x: auto;
        white-space: pre;
        line-height: 42px; /* reasonable estimation to reduce layout shift */
      }
      .render-scratchblocks svg {
        display: block;
      }

      footer {
        margin: 1rem 0;
        font-size: small;
      }

      /* General Alert Styles */
      .alert {
        padding-left: 15px;
        line-height: 1;
      }

      /* Border colors for specific alerts */
      .alert.alert-note { border-left: .25em solid #1f6feb; }
      .alert.alert-tip { border-left: .25em solid #238636; }
      .alert.alert-important { border-left: .25em solid #8957e5; }
      .alert.alert-warning { border-left: .25em solid #9e6a03; }
      .alert.alert-caution { border-left: .25em solid #da3633; }

      /* Shared Styling for Alert Text */
      .alert p:first-child {
        padding-top: 10px;
        font-weight: 500;
        font-size: 14px;
        display: flex;
      }

      /* Specific Color Overrides for Each Alert */
      .alert.alert-note > p:first-child { color: #4493f8; }
      .alert.alert-tip > p:first-child { color: #3fb950; }
      .alert.alert-important > p:first-child { color: #ab7df8; }
      .alert.alert-warning > p:first-child { color: #d29922; }
      .alert.alert-caution > p:first-child { color: #f85149; }

      /* Icon Spacing */
      div.alert svg {
        margin-right: 8px;
      }

    </style>
  </head>
  <body>
    <nav role="navigation">
      <div>
        <a href="https://extensions.turbowarp.org/">
          <img src="/turbowarp.svg" alt="">
          <span>TurboWarp Extension Gallery</span>
        </a>

        <!-- Only used by desktop app -->
        <a class="view-in-browser" href="https://extensions.turbowarp.org/<%= slug %>">
          Read in browser
        </a>
      </div>
    </nav>

    <main class="container">
      <h1><%- headerHTML %></h1>

      <noscript><p>Enable JavaScript for blocks to render.</p></noscript>

      <%- bodyHTML %>

      <hr>

      <footer>
        <p>
          This page is <a href="https://github.com/TurboWarp/extensions/tree/master/docs">open source</a>.
          <% if (usesScratchBlocks) { %>
            Blocks rendered with <a href="https://scratchblocks.github.io/">scratchblocks</a>.
          <% } %>
        </p>
        <p>TurboWarp is not affiliated with Scratch, the Scratch Team, or the Scratch Foundation.</p>
      </footer>
    </main>

    <% if (usesScratchBlocks) { %>
      <script src="/docs-internal/scratchblocks.js"></script>
      <script>
        scratchblocks.renderMatching('.render-scratchblocks', {
          style: 'scratch3'
        });
      </script>
    <% } %>
  </body>
</html>
